# Desafio Semana 15

## Base de Informações dos Dados 

O DataSet Base de Informação que utilizo é  o da Netflix, já utilizado em algumas aulas anteriores

O DataSet Base tem a seguinte composição:

In [5]:
import pandas as pd

In [7]:
#Exibição do DataSet Base
df = pd.read_csv("netflix.csv")
df

,User ID,Subscription Type,Monthly Revenue,Join Date,Last Payment Date,Country,Age,Gender,Device,Plan Duration
0,1,Basic,10,15-01-22,10-06-23,United States,28,Male,Smartphone,1 Month
1,2,Premium,15,05-09-21,22-06-23,Canada,35,Female,Tablet,1 Month
2,3,Standard,12,28-02-23,27-06-23,United Kingdom,42,Male,Smart TV,1 Month
3,4,Standard,12,10-07-22,26-06-23,Australia,51,Female,Laptop,1 Month
4,5,Basic,10,01-05-23,28-06-23,Germany,33,Male,Smartphone,1 Month
...,...,...,...,...,...,...,...,...,...,...
2495,2496,Premium,14,25-07-22,12-07-23,Spain,28,Female,Smart TV,1 Month
2496,2497,Basic,15,04-08-22,14-07-23,Spain,33,Female,Smart TV,1 Month
2497,2498,Standard,12,09-08-22,15-07-23,United States,38,Male,Laptop,1 Month
2498,2499,Standard,13,12-08-22,12-07-23,Canada,48,Female,Tablet,1 Month
2499,2500,Basic,15,13-08-22,12-07-23,United States,35,Female,Smart TV,1 Month

Sobre essa base de dados foram extraídas 6 formas de análise de gráficos
essas visualizações podem ser encontradas dentro do meu portifólio do Tableu.
O link de Acesso a essa Publicação do Dashboard é: 

- Dashboard Parte 1

https://public.tableau.com/views/Painelanaliticonetflixpt1/Painel1?:language=pt-BR&:display_count=n&:origin=viz_share_link

- Dashboard Parte 2 

https://public.tableau.com/views/PainelanaliticoNetflixPt2/Painel2?:language=pt-BR&:display_count=n&:origin=viz_share_link





Caso não seja possível acessar o link, você também consegue acompanhar aqui embaixo neste mesmo arquivo.


## Visualizações 

Dashboard trazendo as 6 visualizações pedidas com Base de dados da Netflix

- Parte 1

![ Print DashBoard Parte 1](dashboardpt1.png)

- Parte 2 

![ Print DashBoard Parte 2](dashboardpt2.png)