# Base utilizada
Foi utilizada uma base de dados do Kaggle que traz informações sobre liberdade e direitos civis entre os países do mundo

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("freedom.csv", sep="," , encoding="latin-1")
df

          country  year  CL  PR Status  Region_Code Region_Name  is_ldc
0     Afghanistan  1995   7   7     NF          142        Asia       1
1     Afghanistan  1996   7   7     NF          142        Asia       1
2     Afghanistan  1997   7   7     NF          142        Asia       1
3     Afghanistan  1998   7   7     NF          142        Asia       1
4     Afghanistan  1999   7   7     NF          142        Asia       1
...           ...   ...  ..  ..    ...          ...         ...     ...
4974     Zimbabwe  2016   5   5     PF            2      Africa       0
4975     Zimbabwe  2017   5   6     NF            2      Africa       0
4976     Zimbabwe  2018   5   5     PF            2      Africa       0
4977     Zimbabwe  2019   5   5     PF            2      Africa       0
4978     Zimbabwe  2020   5   6     NF            2      Africa       0

[4979 rows x 8 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4979 entries, 0 to 4978
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      4979 non-null   object
 1   year         4979 non-null   int64
 2   CL           4979 non-null   int64
 3   PR           4979 non-null   int64
 4   Status       4979 non-null   object
 5   Region_Code  4979 non-null   int64
 6   Region_Name  4979 non-null   object
 7   is_ldc       4979 non-null   int64
dtypes: int64(5), object(3)
memory usage: 311.3+ KB

In [6]:
traducoes = {
    'country': 'pais',
    'year': 'ano',
    'CL': 'civis libertos',
    'PR': 'direitos politicos',
    'status': 'status',
    'Region_Code': 'codigo regiao',
    'Region_Name': 'regiao',
    'is_ldc': 'subdesenvolvido'
}

novas_colunas = []
for chave, valor in traducoes.items():
    novas_colunas.append(valor)

novas_colunas

['pais',
 'ano',
 'civis libertos',
 'direitos politicos',
 'status',
 'codigo regiao',
 'regiao',
 'subdesenvolvido']

In [7]:
df.columns = novas_colunas
df

,pais,ano,civis libertos,direitos politicos,status,codigo regiao,regiao,subdesenvolvido
0,Afghanistan,1995,7,7,NF,142,Asia,1
1,Afghanistan,1996,7,7,NF,142,Asia,1
2,Afghanistan,1997,7,7,NF,142,Asia,1
3,Afghanistan,1998,7,7,NF,142,Asia,1
4,Afghanistan,1999,7,7,NF,142,Asia,1
...,...,...,...,...,...,...,...,...
4974,Zimbabwe,2016,5,5,PF,2,Africa,0
4975,Zimbabwe,2017,5,6,NF,2,Africa,0
4976,Zimbabwe,2018,5,5,PF,2,Africa,0
4977,Zimbabwe,2019,5,5,PF,2,Africa,0
4978,Zimbabwe,2020,5,6,NF,2,Africa,0

In [8]:
df.to_csv("base_traduzida.csv", index=False)

In [24]:
substituicao = df["subdesenvolvido"].replace([0,1], ["nao", "sim"])
substituicao

0       sim
1       sim
2       sim
3       sim
4       sim
       ...
4974    nao
4975    nao
4976    nao
4977    nao
4978    nao
Name: subdesenvolvido, Length: 4979, dtype: object

# Links dos painéis feitos no Tableau
https://public.tableau.com/app/profile/rafaella.fiel.nascimento.santos/viz/liberdade_paises/Painel1
https://public.tableau.com/app/profile/rafaella.fiel.nascimento.santos/viz/liberdade_paises/Painel2